body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, #007C43, #BCCF00);
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#filters {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#chart {
    width: 100vw;
    height: 100vh;
    position: relative;
    cursor: none; /* Hide the default cursor */
}

.lab-box {
    fill: none;
    stroke: black;
    stroke-dasharray: 4;
}

.lab-name {
    font-weight: bold;
    font-size: 14px;
}

.links line {
    stroke-width: 2;
}

.nodes rect {
    cursor: pointer;
}

.labels text {
    font-size: 12px;
}

#filters label {
    margin-right: 20px;
}

#filters input[type="checkbox"] {
    margin-right: 5px;
}
